div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_text_main;
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $blue;
	text-decoration: underline;
	&:hover {
		// color: tint($primary,30%);
    color: $green;
	}
}
h1 {font-size:45px;}
h2 {font-size:32px;}
h3 {font-size:16px;text-transform:uppercase;}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.text-center {text-align:center;}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30em;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 10;
	&.narrow {
		max-width: 900px;
	}
	&.sm {
		max-width: 800px;
	}
	&.wide {
		max-width: 100%;
    @include tab {
      max-width: 90%;
    }
	}
}

#site-logo {
  width: 55px;
  position: relative;
  z-index: 50;
  @include flexgroup();
  @include flexbox-align-items(center);
  @include tab {
    width: 70px;
    width: 20%;
    min-height: 90px;
  }
  h1 {
    width: 100%;
    font-size: 20px;
    margin: 0 0;
    @include flexgroup();
    @include flexbox-align-items(center);
  }
  span.logo {
    display: block;
    width: 100%;
    @include tab {
      width: 80px;
    }
  }
  span.logo a, span.logo img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.site-header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  z-index: 100;
  @include tab {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wrapper {
    max-width: 95%;
  }
  .flexwrap {
    @include flexgroup();
    @include flexbox-align-items(center);
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 13px;
  right: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  i {
    display: none;
  }
  span.bar,
  span.bar:before, span.bar:after {
    width: 100%;
    height: 2px;
    background: #FFF;
    position: absolute;
    left: 0;
    transition: all ease .3s;
  }
  span.bar {
    top: 50%;
    transform: translateY(-50%);
  }
  span.bar:before, span.bar:after {
    content:"";
  }
  span.bar:before {
    top: -10px;
  }
  span.bar:after {
    top: 10px;
  }

  &.open {
    span.bar {
      transform: rotate(-45deg);
    }
    span.bar:before {
      transform: translateY(10px);
    }
    span.bar:after {
      transform: translateY(-9px) rotate(90deg);
    }
  }
  @include max($midwidth) {
    display: block;

  }

}

#site-navigation {
  width: 80%;
  .main-menu-wrap {
    width: 100%;
  }
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  #primary-menu {
    display: inline-block;
    float: right;
    position: relative;
    @include tab {
      right: -15px;
    }
  }
  #primary-menu > li {
    float: left;
    position: relative;
  }
  #primary-menu a {
    display: block;
    text-decoration: none;
  }
  #primary-menu > li > a {
    font-family: $font_secondary;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    padding: 5px 15px;
    position: relative;
    &:after {
      content:"";
      display: block;
      width: 38%;
      height: 2px;
      background: #000;
      margin: 0 auto;
      position: relative;
      top: 2px;
      transition: all ease .3s;
      transform: scaleX(0);
    }
  }
  #primary-menu > li.current_page_item > a,
  #primary-menu > li:hover > a {
    color: $primary;
    &:after {
      transform: scaleX(1);
    }
  }

  #primary-menu > li.menu-item-has-children .menu-dropdown-btn {
    display: none;
  }

  #primary-menu > li > ul {
    // display: none;
    position: absolute;
    transition: all ease .3s;
    background: $primary;
    width: 230px;
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
    opacity: 0;
    height: 0%;
    overflow: hidden;
  }
  #primary-menu > li > ul a {
    padding: 6px 15px;
    color: #FFF;
    font-size: 14px;
    line-height: 1.2;
  }
  #primary-menu > li > ul li:hover > a {
    opacity: 0.5;
  }
  #primary-menu > li:hover > ul {
    padding: 5px 0;
    opacity: 1;
    height: auto;
    margin-top: -3px;
    transform: translateY(0) translateX(-50%);
  }

  @include max($midwidth) {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    height: 0%;
    overflow: auto;
    transition: all ease .3s;
    animation-duration: 0.5s;
    .main-menu-wrap {
      width: 100%;
      height: 100%;
      color: #FFF;
    }
    #primary-menu  {
      display: block;
      width: 100%;
      margin-top: 90px;
      padding-top: 0;
      padding-bottom: 50px;
      padding-left: 0;
      padding-right: 0;
      background: #000;
      border-top: 1px solid rgba(255,255,255,.15);
      a {
        color: #FFF!important;
      }
    }
    #primary-menu > li {
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.15);
    }
    #primary-menu > li > a {
      padding: 14px 28px;
      font-size: 16px;
      opacity: 0;
      position: relative;
      &:after {
        display: none;
      }
    }
    #primary-menu > li.menu-item-has-children > a {
      display: block;
      width: calc(100% - 70px);
    }
    #primary-menu > li.menu-item-has-children .menu-dropdown-btn {
      display: inline-block;
      width: 55px;
      height: 48px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      border-left: 1px solid rgba(255,255,255,.15);
      &:before, &:after {
        content:"";
        display: block;
        width: 12px;
        height: 1px;
        background: #FFF;
        position: absolute;
        top: 23px;
        left: 25px;
      }
      &:before {
        transform: translateX(-8px) rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    #primary-menu > li.menu-item-has-children > ul {
      position: relative;
      width: 100%;
      height: auto;
      float: left;
      opacity: 1;
      transform: none;
      left: 0;
      margin:0 0;
      padding: 10px 30px;
      background: transparent;
      border-top: 1px solid rgba(255,255,255,.15);
      display: none;
      transition: none;
      transform: none;
      animation: none;
    }
    #primary-menu > li.menu-item-has-children > ul a {
      font-size: 16px;
      padding: 10px 15px;
    }
    #primary-menu > li.current-menu-item,
    #primary-menu > li.current_page_item,
    #primary-menu > li.current-menu-item > a,
    #primary-menu > li.current_page_item > a {
      background: $primary;
      color: #FFF;
    }
    #primary-menu > li > ul > li.current-menu-item > a,
    #primary-menu > li > ul > li.current-menu-item:hover > a {
      color: $primary!important;
      opacity: 1;
    }
    #primary-menu > li.current-menu-item,
    #primary-menu > li.current_page_item {
      ul {
        background: #000;
        top: 1px;
        border-bottom: 1px solid rgba(255,255,255,.15);
      }
    }
    &.open {
      display: block;
      height: 100%;
      #primary-menu > li > a {
        opacity: 1;
        @include animateThis(2s);
        @include animateEffect(fadeInLeft);
      }
    }

  }
}

.slides-wrapper {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: #333;
  .bottom-middle-line {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3.5vh;
    text-align: center;
    z-index: 20;
    span {
      display: inline-block;
      width: 2px;
      height: 6vh;
      background: $primary;
      position: relative;
    }
  }
}
.slides-inner {
  overflow: hidden;
}
.slides-inner,
.swiper-container,
.swiper-wrapper,
.swiper-slide,
.slideImage {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.slideImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slideCaption {
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 0 0;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;
  color: #FFF;
  z-index: 10;
  &:before {
    content:"";
    display: block;
    width: 100vw;
    height: 130%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }
  .wrap {
    width: 100%;
    padding: 20px 20px 1.5vw;
    position: relative;
    z-index: 5;
    @include tab {
      width: 95%;
      margin: 0 auto;
    }
    .text {
      width: 100%;
      @include tab {
        width: 65vw;
      }
    }
  }
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination {
  z-index: 120;
  text-align: right;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-bullet {
  border-radius: 0;
  border: none;
  width: 8px;
  height: 8px;
  background-color: #FFF;
  margin: 2px 6px;
  opacity: 1;
  &.swiper-pagination-bullet-active {
    background-color: $primary;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

body.home {
  .site-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #primary-menu > li.current_page_item > a,
  #primary-menu > li:hover > a {
    color: $primary!important;
    &:after {
      transform: scaleX(1);
    }
  }
  &.has-banner {
    #site-navigation {
      #primary-menu > li > a {
        color: #FFF;
      }
      #primary-menu > li.current_page_item > a,
      #primary-menu > li:hover > a {
        &:after {
          background: #FFF!important;
        }
      }
    }
  }
  
  .swiper-slide {
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 45%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    }
  }
  .entry-content {
    width: 100%;
    float: left;
    margin: 50px 0;
  }
}

.intro {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0;
  letter-spacing: 2px;
}
.recent-projects {
  width: 100%;
  float: left;
  margin: 50px 0;
}
.project-columns {
  .flexwrap {
    @include flexgroup();
    @include flexbox-justify(center);
    margin-left: -15px;
    margin-right: -15px;
  }
  .box {
    width: 100%;
    padding: 15px;
    position: relative;
    a, a * {
      transition: all ease .5s;
    }
    a {
      display: block;
      width: 100%;
      float: left;
      position: relative;
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }
    span.image {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      @include backgroundImage(center);
    }
    span.view {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.6);
      z-index: 10;
      text-align: center;
      opacity: 0;
      span.plus {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: $primary;
        color: #FFF;
        font-size: 13px;
        line-height: 1;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &:before, &:after {
          content:"";
          width: 34%;
          height: 1px;
          background: #FFF;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        &:before {
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }
      }
    }
    a:hover {
      span.view {
        opacity: 1;
      }
    }
    @include tab {
      width: 33.33%;
    }
  }
  .project-name {
    display: block;
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 0;
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
}

#projectList {
  margin-bottom: 60px;
  .project-columns {
    .flexwrap {
      @include flexbox-justify(flex-start);
    }
  }
}

div.loadmore {
  border-top: 1px solid #000;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  .moretxt {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
}

.plusBtn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: $primary;
  color: #FFF;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  position: relative;
  transition: all ease .3s;
  &:before, &:after {
    content:"";
    width: 34%;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &:before {
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
  &:hover {
    background: #000;
  }
}

div.more-button {
  text-align: right;
  a.more {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    right: 3px;
    .arrow {
      display: inline-block;
      width: 45px;
      height: 1px;
      background: #000;
      position: relative;
      top: -4px;
      margin-left: 5px;
      transition: all ease .3s;
      &:before, &:after {
        content:"";
        width: 9px;
        height: 1px;
        background: #000;
        position: absolute;
        top: 0;
        right: -1px;
      }
      &:before {
        transform: translateY(-3px) rotate(45deg);
      }
      &:after {
        transform: translateY(3px) rotate(-45deg);
      }
    }
    &:hover {
      color: $primary;
      .arrow {
        background: $primary;
        transform: translateX(5px);
        &:before, &:after {
          background: $primary;
        }
      }
    }
  }
}

body.subpage {
  #main {
    min-height: 30em;
  }
}

.content-area.parent-page {
  .entry-content {
    margin-bottom: 40px;
  }
}
.categories-breadcrumb {
  a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0;
    letter-spacing: 1px;
    margin-right: 20px;
    margin-bottom: 8px;
    &:hover {
      color: $primary;
    }
  }
  a:last-child {
    margin-right: 0;
  }
  a.active {
    color: $primary;
  }
}

.single-page-content {
  width: 100%;
  float: left;
  &.hasGalleries {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .entry-title {
    margin: 0 0;
    h1 {
      margin: 0 0 10px;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
    }
  }
}

.f12 {
  font-size: 12px!important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.project-full-info {
  @include flexgroup();
  margin-top: 20px;
  margin-bottom: 30px;
  .infocol {
    width: 100%;
    &.left {
      margin-bottom: 10px;
      @include tab {
        width: 40%;
        padding-right: 2vw;
        margin-bottom: 0;
      }
      @include mid {
        width: 30%;
      }
      .text {
        display: inline-block;
      }
      .info {
        margin-bottom: 20px;
        span {
          display: block;
          width: 100%;
          &.t1 {
            color: $primary;
          }
          &.t2 {
            font-weight: 600;
          }
        }
      }
    }
    &.right {
      @include tab {
        width: 60%;
        padding-left: 4vw;
        border-left: 1px solid $primary;
      }
      @include mid {
        width: 70%;
      }
      p {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


/* CAROUSEL SLIDES */
.carousel-container {
  margin-bottom: 18px;
  position: relative;
  width: 100%;
  float: left;
  // height: 400px;
  // @include mid {
  //   height: 600px;
  // }
  // @include desk {
  //   height: 700px;
  // }
  * {
    box-sizing: border-box;
  }
  img.resizer {
    display: block;
    width: auto;
    margin: 0 auto;
    position: relative;
    height: 400px;
    @include mid {
      height: 600px;
    }
    @include desk {
      height: 700px;
    }
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #e7e7e7;
    overflow: hidden;
  }
  .slick-list, .slick-track {
    height: 100%;
  }
  // .slick-track, .slick-slide, .slick-inner {
  //   height: 100%;
  // }
  // .slick-dotted.slick-slider,
  // .slick-list, .slick-track {
  //   height: 100%;
  //   width: 100%;
  // }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-slide {
    height: 100%;
    padding: 0 4px;
    position: relative;
    cursor: grab;
    background-color: #FFF;
    // @media screen and (min-width: $tabwidth) {
    //   height: 100%;
    //   overflow: hidden;
    // }
    &:focus {
      border: none;
      outline: none;
    }
    .slick-inner {
      width: 100%;
      height: 100%;
      float: left;
      position: relative;
    }
    img {
      width: auto;
      height: 100%;
      float: left;
      visibility: hidden;
    }
    .image-cover {
      margin:0 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      // &:before {
      //   content:"";
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   border: 1px solid #eaeaea;
      // }
    }
    img, .image-cover {
      opacity: 0.4;
      @include transition(all ease-out .3s);
    }
  }
  .slick-slide.slick-active {
    img, .image-cover {
      opacity: 1;
    }
  }
  .slick-dots {
    bottom: -30px;
    li {
      text-indent: -999em;
      width: 10px;
      height: 10px;
      background: #cbcbcb;
      border-radius: 0;
      button {
        visibility: hidden;
        opacity: 0;
        width: 10px;
        height: 10px;
      }
      &.slick-active {
        background: $primary;
      }
    }
  }
  .slick-arrow {
    z-index: 100;
    width: 45px;
    height: 60px;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    border: none;
    background: transparent;
    position: absolute;
    @include transition(all ease-out .3s);
    &:before, &:after {
      content:"";
      display: block;
      width: 35px;
      height: 3px;
      background: $primary;
      position: absolute;
      top: 17px;
      margin: 0 0;
      opacity: 1;
      @include transition(all ease-out .3s);
    }
    &:hover {
    }
    &.slick-prev {
      left: 0;
      &:before, &:after {
        left: 5px;
      }
      &:before {
        transform: translateY(0) rotate(-45deg);
      }
      &:after {
        transform: translateY(23px) rotate(45deg);
      }
    }
    &.slick-next {
      right: 0;
      &:before, &:after {
        right: 5px;
      }
      &:before {
        transform: translateY(0) rotate(45deg);
      }
      &:after {
        transform: translateY(23px) rotate(-45deg);
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      display: inline-block;
      margin:0 4px;
    }
  }

  .slick-arrow, .slick-dots {
    display: none!important;
  }
}


.custom-slick-arrow {
  position: absolute;
  left: 0;
  bottom: -18px;
  width: 100%;
  z-index: 30;
  .wrap {
    max-width: 840px;
    width: 100%;
    margin:0 auto;
    text-align: right;
  }
  a {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    background: #000;
    margin:0 10px;
    span {
      display: none;
    }
    &:before, &:after {
      content:"";
      display: block;
      width: 9px;
      height: 1px;
      background: #FFF;
      position: absolute;
      top: 15px;
      left: 9px;
    }
    &:before {
      transform: translateY(-6px) rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &#custom-slick-prev {
      transform: rotate(180deg);
      &:before, &:after {
        left: 9px;
      }
    }
    &:hover {
      background: $primary;
    }
  }
}

.post-type-navigation {
  background-color: #ebebeb;
  width: 100%;
  float: left;
  a {
    display: block;
    height: 50px;
    float: left;
    background-color: #ebebeb;
    position: relative;
    transition: background ease-out .3s;
  }
  a.next,a.prev {
    width: calc(50% - 30px);
    padding: 0 0;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    span.wrap {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all ease .3s;
    }
    span.txt {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    span.thumb {
      display: inline-block;
      width: 50px;
      height: 100%;
      @include backgroundImage(center);
      transition: all ease .3s;
    }
  }
  a.next {
    text-align: right;
    span.wrap {
      transform: translateX(50px);
    }
    span.thumb {
      margin-left: 20px;
    }
    span.txt {
      position: absolute;
      right: 70px;
      padding-right: 60px;
      i {
        display: inline-block;
        width: 50px;
        height: 1px;
        background: #000;
        position:absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        &:before, &:after {
          content: "";
          width: 9px;
          height: 1px;
          background: #000;
          position: absolute;
          top: 0;
          right: -1px;
        }
        &:before {
          transform: translateY(-3px) rotate(45deg);
        }
        &:after {
          transform: translateY(3px) rotate(-45deg);
        }
      }
    }
  }
  a.prev {
    span.wrap {
      transform: translateX(-50px);
    }
    span.thumb {
      margin-right: 20px;
    }
    span.txt {
      padding-left: 60px;
      i {
        display: inline-block;
        width: 50px;
        height: 1px;
        background: #000;
        position:absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        &:before, &:after {
          content: "";
          width: 9px;
          height: 1px;
          background: #000;
          position: absolute;
          top: 0;
          left: -1px;
        }
        &:before {
          transform: translateY(-3px) rotate(-45deg);
        }
        &:after {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }

  a.next,a.prev {
    &:hover {
      color: #FFF;
      background: $primary;
      span.wrap {
        transform: translateX(0);
      }
      span.txt i {
        background: #FFF;
        &:before, &:after {
          background: #FFF;
        }
      }
    }
  }

  a.all {
    width: 60px;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    text-align: center;
    span.alltxt {
      display: inline-block;
      width: 50%;
      height: 50%;
      background-image:url('images/dots.svg');
      background-size:80%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &:hover {
      background: #000;
      span.alltxt {
        background-image:url('images/dots-white.svg');
      }
    }
  }
  
}

body.single-projects  {
  .content-area-full {
    width: 100%;
    float: left;
    position: relative;
  }
  #main {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 50px;
  }
  .post-type-navigation {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.map-wrapper {
  position: relative;
  width: 100%;
  float: left;
  background:#CCC;
  height: 180px;
  @include tab {
    height: auto;
  }
  img.helper {
    width: 100%;
    height: auto;
    float: left;
  }
  .map-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,.2);
  }
  .map-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    iframe {
      width: 100%!important;
      height: 100%!important;
    }
  }
}

.form-wrapper {
  .wrapper {
    padding-bottom: 80px;
    @include tab {
      padding-bottom: 130px;
    }
  }
  .flexwrap {
    @include flexgroup();
  }
  .info {
    width: 100%;
    position: relative;
    &.left {
      padding-top: 50px;
      @include tab {
        padding-top: 100px;
        width: 40%;
      }
    }
    &.right {
      background: #f3f3f3;
      margin-top: 20px;
      padding-bottom: 70px;
      padding: 30px 30px 70px 30px;
      @include tab {
        top: -50px;
        width: 60%;
        margin-top: 0;
        padding: 5vw 5vw 6vw;
      }
    }
    .title-large {
      border-bottom: 2px solid $primary;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }
    &.left {
      @include tab {
        padding-right: 4vw;
      }
    }
  }
  .title-large {
    margin: 0 0 10px;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.2;
  }
  .small-title {
    color: $primary;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    margin:0 0 30px;
  }
  .contact-info {
    font-weight: 500;
  }
  .contact-form {
    background: #f3f3f3;
    position: relative;
    // padding: 30px 30px 0;
    @include tab {
      // padding: 5vw 5vw 0;
      margin-top: 0;
    }
    .gfield_label {
      display: none!important;
    }
    .gform_wrapper.gravity-theme {
      input[type="text"],
      input[type="email"],
      textarea {
        border: 1px solid #FFF;
        border-radius: 0;
        background: #FFF;
        outline: none;
        &:focus {
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
          border-color: #CCC;
        }
      }
      input[type="text"],
      input[type="email"] {
        height: 50px;
      }
      .gfield textarea.large {
        height: 120px;
      }
      .gfield {
        margin-bottom: 10px;
      }
      ::placeholder {
        color: #000;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .gform_footer {
        text-align: center;
        position: relative;
        top: 16px;
        margin: 15px 0 20px;
        padding: 0 0 0;
        z-index: 15;
        @include tab {
          text-align: right;
        }
        img {
          display: inline-block;
          position: absolute;
          right: 20px;
          bottom: -10px;
          z-index: 5;
        }
        input.gform_button {
          border-radius: 0;
          -webkit-appearance:none;
          border: none;
          background: #000;
          color: #FFF;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          padding: 10px 30px;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 40px;
          z-index: 10;
          margin: 0 0;
          visibility: hidden;
          @include tab {
            width: 165px;
          }
        }
      }
    }
    .gform_wrapper .gform_validation_errors {
      padding: 10px 10px 10px 40px;
      font-size: 12px;
    }
    .gform_wrapper .gfield_validation_message, .gform_wrapper .validation_message {
      padding: 0 0;
      font-size: 12px;
      background: transparent;
      border: none;
    }
    .gform_wrapper.gravity-theme .gform_validation_error {
      margin-bottom: 80px;
      // @include tab {
      //   .gform_footer {
      //     top: 16px;
      //   }
      // }
    }
    a.submit-button {
      display: inline-block;
      text-decoration: none;
      background: #000;
      color: #FFF;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      padding: 10px 30px;
      position: relative;
      width: 100%;
      letter-spacing: 2px;
      text-align: center;
      @include tab {
        width: 165px;
      }
      span {
        display: inline-block;
        position: relative;
        left: -10vw;
        @include tab {
          left: -22px;
        }
      }
      i.arrow {
        display: inline-block;
        width: 45px;
        height: 1px;
        background: #FFF;
        position: absolute;
        top: 50%;
        right: 25vw;
        transform: translateY(-50%);
        margin-left: 5px;
        transition: all ease .3s;
        @include tab {
          right: 20px;
        }
        &:before, &:after {
          content:"";
          width: 9px;
          height: 1px;
          background: #FFF;
          position: absolute;
          top: 0;
          right: -1px;
        }
        &:before {
          transform: translateY(-3px) rotate(45deg);
        }
        &:after {
          transform: translateY(3px) rotate(-45deg);
        }
      }
      &:hover {
        background: $primary;
        i.arrow {
          transform: translateY(-50%) translateX(5px);
        }
      }
    }
    .custom-button {
      width: 100%;
      position: absolute;
      bottom: -54px;
      left: 0;
      text-align: center;
      @include tab {
        text-align: right;
      }
    }
  }
}

.red-heading {
  color: $primary;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px;
  text-align: center;
}

.teamList {
  margin-top: 40px;
  @include tab {
    margin-top: 60px;
  }
  .group {
    padding-bottom: 40px;
    margin-bottom: 80px;
    border-bottom: 1px solid #000;
  }
  .group:last-child {
    border-bottom: none;
  }
  .entries {
    @include flexgroup();
    @include flexbox-justify(center);
    .info {
      width: 100%;
      padding: 15px;
      text-align: center;
      margin-bottom: 10px;
      @include xs {
        width: 50%;
      }
      @include tab {
        width: 33.33%;
      }
    }
    .team-name {
      padding: 0px 10px 15px;
    }
    .pagelink {
      display: block;
      text-decoration: none;
      width: 100%;
      float: left;
      color: #000;
      position: relative;
      .photo {
        display: block;
        margin: 0 0;
        width: 100%;
        @include backgroundImage(center);
        background-color: #ebebeb;
        margin-bottom: 10px;
        position: relative;
        &.no:before {
          content:"Photo Coming Soon";
          display: block;
          width: 100%;
          text-align: center;
          color: #b1b1b1;
          font-size: 12px;
          font-weight: 500;
          line-height:1.1;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      span {
        display: block;
        width: 100%;
        &.name {
          font-weight: 400;
          font-size: 17px;
        }
        &.jobtitle {
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
        } 
      }
      img {
        width: 100%;
        height: auto;
      }
      &:hover {
        box-shadow: 0 0 18px rgba(0,0,0,0.2);
        transform: translateY(-8px);
      }
    }
  }
}

/* FOOTER */
.site-footer {
  color: #FFF;
  width: 100%;
  float: left;
  background-image:url('images/tagline.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
  .footer-contact {
    text-align: center;
    padding: 60px 0;
    .t1 {
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
    .info {
      font-size: 13px;
      font-weight: 300;
      margin: 2px 0;
      &.phone-fax {
        a {
          display: inline-block;
          margin:0 5px;
          position: relative;
        }
        a:last-child {
          padding-left: 6px;
          &:before {
            content:"";
            display: block;
            width: 1px;
            height: 80%;
            background: #FFF;
            position: absolute;
            top: 50%;
            left: -5px;
            transform: translateY(-50%);
          }
        }
      }
    }
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        color: $primary;
      }
    }
  }
}

/* MOBILE */
@include max($midwidth) {
  body.subpage {
    .mobile-menu span.bar, 
    .mobile-menu span.bar:before, 
    .mobile-menu span.bar:after {
      background: #000;
    }
  }
  body.mobile-menu-open {
    .site-header#masthead {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:#000;
      .flexwrap {
        position: relative;
        &:before {
          content: "";
          display: block;
          width: 100vw;
          height: 90px;
          background: black;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 50;
        }
      }
    }
    #site-logo, .mobile-menu {
      position: fixed;
    }
    #site-logo {
      top: 15px;
    }
    .mobile-menu {
      top: 28px;
      right: 25px;
      z-index: 60;
    }
    &.subpage {
      .mobile-menu span.bar, 
      .mobile-menu span.bar:before, 
      .mobile-menu span.bar:after {
        background: #FFF;
      }
    }
    &.logged-in.admin-bar {
      #site-logo {
        top: 76px;
      }
      .mobile-menu {
        top: 105px;
      }
      #site-navigation #primary-menu {
        margin-top: 180px;
      }
    }
  }
}

#loaderdiv {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3000;
  text-align: center;
  &.show {
    @include flexbox();
    @include flexbox-align-items(center);
    @include flexbox-justify(center);
  }
  .loader, .loader:after {
    width: 8em;
    height: 8em;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  display: inline-block;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.15);
  border-right: 1.1em solid rgba(0, 0, 0, 0.15);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.15);
  border-left: 1.1em solid #ED3742;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}